Alexandre Rouma <alexandre.rouma@gmail.com> AlexandreRouma <alexandre.rouma@gmail.com>
Alexey Slokva <alesha72003@ya.ru> alesha72003 <alesha72003@ya.ru>
Andrey Rodionov <rodionovamp@mail.ru> dernasherbrezon <rodionovamp@mail.ru>
<ben@hilburn.dev> <ben.hilburn@ettus.com>
<ben@hilburn.dev> <bhilburn@gmail.com>
<carles.fernandez@gmail.com> <carlesfernandez@gmail.com>
Christoph Mayer <hcab14@gmail.com> cmayer <Christoph.Mayer@cern.ch>
Christoph Mayer <hcab14@gmail.com> hcab14 <hcab14@gmail.com>
<damian.miralles@aero.org> <damian.miralles@colorado.edu>
<damian.miralles@aero.org> <dmiralles2009@gmail.com>
Douglas Geiger <doug.geiger@bioradiation.net> Doug <douggeiger@users.noreply.github.com>
Douglas Geiger <doug.geiger@bioradiation.net> Doug Geiger <doug.geiger@bioradiation.net>
Douglas Geiger <doug.geiger@bioradiation.net> Douglas Geiger <douglas.geiger@nrl.navy.mil>
<douglas.j.anderson@gmail.com> <djanderson@users.noreply.github.com>
Federico Larroca <flarroca@fing.edu.uy> git-artes <flarroca@fing.edu.uy>
Geof Nieboer <gnieboer@gcndevelopment.com> gnieboer <gnieboer@corpcomm.net>
Jam M. Hernandez Quiceno <jamarck96@gmail.com> Jam Quiceno <jam_quiceno@partech.com>
<jcorgan@corganenterprises.com> <johnathan@corganlabs.com>
Johannes Demel <jdemel@gnuradio.org> jdemel <demel@ant.uni-bremen.de>
Johannes Demel <jdemel@gnuradio.org> jdemel <demel@uni-bremen.de>
Johannes Demel <jdemel@gnuradio.org> jdemel <jdemel@gnuradio.org>
Johannes Demel <jdemel@gnuradio.org> jdemel <johannes@demels.de>
Johannes Demel <jdemel@gnuradio.org> Johannes Demel <demel@ant.uni-bremen.de>
Johannes Demel <jdemel@gnuradio.org> Johannes Demel <demel@uni-bremen.de>
Johannes Demel <jdemel@gnuradio.org> Johannes Demel <ufcsy@student.kit.edu>
John Sallay <jasallay@gmail.com> jsallay <31416796+jsallay@users.noreply.github.com>
<magnuslundmark@gmail.com> <magnus@skysense.io>
Marc Lichtman <marcll@vt.edu> Marc L <marcll@vt.edu>
<marcus@hostalia.de> <mmueller@gnuradio.org>
<marcus@hostalia.de> <mueller@kit.edu>
Marcus Müller <marcus@hostalia.de> Marcus Mueller <marcus@hostalia.de>
<michael.dickens@ettus.com> <157892+michaelld@users.noreply.github.com>
<michael.dickens@ettus.com> <mlk@alum.mit.edu>
Michael Dickens <michael.dickens@ettus.com> Michael L Dickens <mlk@alum.mit.edu>
Michael Dickens <michael.dickens@ettus.com> Micheal Dickens <michael.dickens@ettus.com>
Mike Piscopo <ghostop14@gmail.com> ghostop14 <ghostop14@gmail.com>
<nate.ewest@gmail.com> <nathan@pepper>
<nate.ewest@gmail.com> <nathan.west@nrl.navy.mil>
<nate.ewest@gmail.com> <nathan.west@okstate.edu>
<nate.ewest@gmail.com> <nwest@deepsig.io>
Nathan West <nate.ewest@gmail.com> Nathan West <nathan.west@gnuradio.org>
<n.corgan@gmail.com> <nick.corgan@ettus.com>
Nicholas McCarthy <namccart@gmail.com> namccart <namccart@gmail.com>
Nicholas McCarthy <namccart@gmail.com> Nick McCarthy <namccart@gmail.com>
Nick Foster <nick@nerdnetworks.org> Nick Foster <bistromath@gmail.com>
Nick Foster <nick@nerdnetworks.org> Nick Foster <nick@ettus.com>
Olaf Bernstein <camel-cdr@protonmail.com>
Pascal Giard <evilynux@gmail.com> Pascal Giard <pascal.giard@lacime.etsmtl.ca>
<philip@balister.org> <philip@opensdr.com>
Philip Balister <philip@balister.org> root <philip@balister.org>
Philip Balister <philip@balister.org> root <root@usrp-e1xx.(none)>
Rick Farina <zerochaos@gentoo.org> Rick Farina (Zero_Chaos) <zerochaos@gentoo.org>
<ritterho@hm.edu> <32478819+fritterhoff@users.noreply.github.com>
Ryan Volz <ryan.volz@gmail.com> Ryan Volz <rvolz@mit.edu>
Sam Lane <sl01172@surrey.ac.uk> Sam Lane <9569766+SJ-Innovation@users.noreply.github.com>
<tom@trondeau.com> <trondeau@vt.edu>
